src/native/native/target
src/native/native/index.node
src/native/native/artifacts.json
src/native/native/node-target
src/wasm/native/target
src/native/index.d.ts
src/native/global.d.ts
src/wasm/browser/index.d.ts
src/wasm/node/index.d.ts
src/index.d.ts
**/*~
**/node_modules
**/.DS_Store
node_modules
yarn-error.log
lib
analyzer-reports
build
packages